.color{
    background-color: aliceblue;
}
.caja{
    background-color: antiquewhite;
}
h1{
    text-align: center;
}
.img {
    height: 200px;
    margin-top: 100;
}

.imm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.compositor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}
body{
    background-color: beige;
}