
































































































































/* Estilos para el footer */
footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  margin-top: 40px;
}

.footer {
  max-width: 900px;
  margin: auto;
}

.iconos a {
  margin: 0 10px;
  display: inline-block;

}

.iconos img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}

.iconos a:hover {
  transform: scale(1.2);
}
