
































































































































/* Estilos para el footer */
footer {
  background-color: #111;
  color: #fff;
  padding: 20px;
  text-align: center; 
}

.footer-content {
  max-width: 800px;
  margin: auto;
}

.footer-content p {
  margin: 5px 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1); 
  transition: transform 0.3s;
}

.social-icons a:hover img {
  transform: scale(1.2);
}
<<<<<<< HEAD
=======
.caja{
    background-color: antiquewhite;
}
h1{
    text-align: center;
}
.img {
    height: 200px;
    margin-top: 100;
}

.imm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.compositor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}
body{
    background-color: beige;
}
>>>>>>> 9eb7dec19c3817bf91f0648ebf503b1b635fbfd3
